<div class="add_new_issue from_add_edit_issue hide">
	<form ng-submit="addIssue()" ng-controller="BoardsCtrl">
	  <input type="hidden" ng-init="issue.project_id=<%= @project.id %>" >
	  <input type="hidden" ng-init="issue.author_id=<%= User.current.id %>" >
	  <input type="hidden" ng-init="issue.fixed_version_id=version.id" >
	  <input type="hidden" ng-init="versionActive=version" >
	  <label style="color: red">{{errorAddNew}}</label>
		<table >
			<tr>
				<td colspan="2"><input type="text" ng-model="issue.subject"  class="title_issue" placeholder="Enter the issue subject..."></td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea ng-model="issue.description" class="issue_description " placeholder="Enter the issue subject..."></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<span>Tracker:</span>
					<select class="value_content" ng-model="issue.tracker_id" ng-options="tracker.id as tracker.name for tracker in trackers  ">
					</select>
				</td>
				<td>
					<span>Priority:</span>
					<select class="value_content" ng-model="issue.priority_id" ng-options="priority.id as priority.name for priority in priorities"></select>
				</td>
			</tr>
			<tr>
				<td>
					<span>Assign:</span>
					<select class="value_content" ng-model="issue.assigned_to_id" ng-options="member.id as member.firstname for member in members">
					</select>
				</td>
				<td>
					<span>Est. Hour:</span>
					<input type="text" ng-model="issue.estimated_hours" class="time">
				</td>
			</tr>
			<tr>
				<td>
					<span>Start:</span>
					<input type="text" ng-model="issue.start_date" class="begin">
				</td>
				<td>
					<span>Due to:</span>
					<input type="text" ng-model="issue.due_date" class="end">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" class="submit_issue" value="add">
					<button type="button" class="cancel_issue">Cancel</button>
				</td>
			</tr>
		</table>
	</form>
</div><!--end add new issue -->