<div class="backlog ">
  <div class="background_d">
    <p class="title_backlog">
      <span class="closed_backlog" ><i class="fa fa-minus-circle">Hide</i></span>
      <span class="span_backlog">Backlog</span>
      <span class="icon_add_issue"><i class="fa fa-plus-circle"></i>Add</span>
    </p>
    
    <%= render :partial => "s2b_issues/add_new_issue" %>

    <div class="connectedSortable" id="sortable_backlog" sortable >
        
        <div class="issue ui-state-default small_mode" ng-repeat="issue in issuesBacklog" >
          <%= render :partial => "/s2b_issues/issue" %>
        </div>

    </div><!--end connectedSortable-->
  </div>
</div><!--end backlog-->